@font-face {
  font-family: 'font-page';
  src:  url('fonts/font-page.eot?2i5l5s');
  src:  url('fonts/font-page.eot?2i5l5s#iefix') format('embedded-opentype'),
    url('fonts/font-page.ttf?2i5l5s') format('truetype'),
    url('fonts/font-page.woff?2i5l5s') format('woff'),
    url('fonts/font-page.svg?2i5l5s#font-page') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fi-page-"], [class*=" fi-page-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-page' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-page-volume-mute-a:before {
  content: "\eb45";
}
.fi-page-volume-a:before {
  content: "\eb46";
}
.fi-page-venue-a1:before {
  content: "\eb44";
}
.fi-page-opened-reference-material-a:before {
  content: "\eb43";
}
.fi-page-not-launched-quest-a:before {
  content: "\eb41";
}
.fi-page-launched-quest-a:before {
  content: "\eb42";
}
.fi-page-edit-suggest-school-a:before {
  content: "\eb3b";
}
.fi-page-generate-suggest-school-a:before {
  content: "\eb3c";
}
.fi-page-tracking-details-a:before {
  content: "\eb31";
}
.fi-page-left-question-a:before {
  content: "\eb32";
}
.fi-page-collection-a:before {
  content: "\eb2a";
}
.fi-page-offline-a .path1:before {
  content: "\eb27";
  color: rgb(112, 112, 112);
}
.fi-page-offline-a .path2:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.fi-page-offline-a .path3:before {
  content: "\eb29";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fi-page-tag-new-a:before {
  content: "\eb33";
}
.fi-page-tag-deleted-a:before {
  content: "\eb34";
}
.fi-page-updated-a:before {
  content: "\eafb";
}
.fi-page-abandoned-a:before {
  content: "\eb06";
}
.fi-page-hand-over-packed-bags-a:before {
  content: "\eb0f";
}
.fi-page-issue-bags-a:before {
  content: "\eb11";
}
.fi-page-resubmit-number-of-bags-a:before {
  content: "\eb14";
}
.fi-page-submit-number-of-bags-a:before {
  content: "\eb16";
}
.fi-page-select-response-a:before {
  content: "\eafe";
}
.fi-page-clear-a:before {
  content: "\eaff";
}
.fi-page-view-response-question-a:before {
  content: "\eb00";
}
.fi-page-view-response-a:before {
  content: "\eb01";
}
.fi-page-view-job-a:before {
  content: "\eaf9";
}
.fi-page-assign-venue-a:before {
  content: "\eaf8";
}
.fi-page-user-id-a:before {
  content: "\eaef";
}
.fi-page-password-a:before {
  content: "\eaf0";
}
.fi-page-booked-a:before {
  content: "\eae3";
}
.fi-page-unbooked-a:before {
  content: "\eae7";
}
.fi-page-sms-a:before {
  content: "\ea30";
}
.fi-page-close-time-a:before {
  content: "\ead9";
}
.fi-page-time-a:before {
  content: "\ea36";
}
.fi-page-venue-a:before {
  content: "\ea43";
}
.fi-page-venue-confirmed-a:before {
  content: "\ead8";
}
.fi-page-change-permanent-venue-a:before {
  content: "\e991";
}
.fi-page-change-temporary-venue-a:before {
  content: "\e992";
}
.fi-page-accept-a:before {
  content: "\e900";
}
.fi-page-add-comment-a:before {
  content: "\eacf";
}
.fi-page-edit-comment-a:before {
  content: "\ead2";
}
.fi-page-book-timeslots-a:before {
  content: "\ead0";
}
.fi-page-draft-a:before {
  content: "\ead1";
}
.fi-page-preview-with-apeg-a:before {
  content: "\ead4";
}
.fi-page-send-to-outsourced-print-a:before {
  content: "\ead5";
}
.fi-page-print-a:before {
  content: "\e924";
}
.fi-page-printing-roving-envelope-a:before {
  content: "\eb13";
}
.fi-page-classes-a:before {
  content: "\eacc";
}
.fi-page-available-a:before {
  content: "\ead6";
}
.fi-page-unavailable-a:before {
  content: "\ead7";
}
.fi-page-unauthorized-url-a:before {
  content: "\ea6f";
}
.fi-page-confirm-sequence-of-handing-over-a:before {
  content: "\eb0d";
}
.fi-page-add-stage-a:before {
  content: "\ea76";
}
.fi-page-configure-assessment-stage-a:before {
  content: "\eabd";
}
.fi-page-allow-mm-to-change-setting-a:before {
  content: "\eab9";
}
.fi-page-edit-schedule-a:before {
  content: "\eabf";
}
.fi-page-follow-up-a:before {
  content: "\ea63";
}
.fi-page-font-legend-a:before {
  content: "\eac9";
}
.fi-page-color-legend-a:before {
  content: "\eac7";
}
.fi-page-double-gears-a:before {
  content: "\eac6";
}
.fi-page-holiday-a:before {
  content: "\eab4";
}
.fi-page-batch-configure-seating-rule-a:before {
  content: "\eab8";
}
.fi-page-compute-all-a:before {
  content: "\eac3";
}
.fi-page-module-a:before {
  content: "\eaad";
}
.fi-page-school-a:before {
  content: "\eaae";
}
.fi-page-qualification-type-a:before {
  content: "\eaaf";
}
.fi-page-right-view-a:before {
  content: "\eab0";
}
.fi-page-left-view-a:before {
  content: "\eab1";
}
.fi-page-two-side-view-a:before {
  content: "\eab2";
}
.fi-page-scan-face-a:before {
  content: "\eaab";
}
.fi-page-audio-a:before {
  content: "\eaaa";
}
.fi-page-voice-a:before {
  content: "\eaa6";
}
.fi-page-video-a:before {
  content: "\eaa7";
}
.fi-page-richtextbox-file-a:before {
  content: "\eaa8";
}
.fi-page-pi-a:before {
  content: "\eaa9";
}
.fi-page-exam-remaining-a:before {
  content: "\ea95";
}
.fi-page-snap-a:before {
  content: "\eafc";
}
.fi-page-exam-test-a:before {
  content: "\ea96";
}
.fi-page-exam-mode-a:before {
  content: "\ea97";
}
.fi-page-exam-duration-a:before {
  content: "\ea98";
}
.fi-page-submit-absenteeism-a:before {
  content: "\eb02";
}
.fi-page-exam-date-a:before {
  content: "\ea99";
}
.fi-page-exam-seat-a:before {
  content: "\ea9a";
}
.fi-page-exam-venue-a:before {
  content: "\ea9b";
}
.fi-page-generate-new-files-a:before {
  content: "\eb08";
}
.fi-page-generate-all-file-a:before {
  content: "\eb18";
}
.fi-page-single-file-a:before {
  content: "\e97e";
}
.fi-page-witness-on-site-shredding-a:before {
  content: "\eb17";
}
.fi-page-go-to-paper-respository-a:before {
  content: "\eb0e";
}
.fi-page-approve-a:before {
  content: "\e917";
}
.fi-page-reject-a:before {
  content: "\e927";
}
.fi-page-cancel-default-a:before {
  content: "\eb36";
}
.fi-page-evaluation-form-a:before {
  content: "\e973";
}
.fi-page-question-a:before {
  content: "\ea8e";
}
.fi-page-student-enrolment-a:before {
  content: "\e9ae";
}
.fi-page-student-a:before {
  content: "\ea8f";
}
.fi-page-test-a:before {
  content: "\ea70";
}
.fi-page-final-evaluation-a:before {
  content: "\e911";
}
.fi-page-benchmarking-a:before {
  content: "\eb03";
}
.fi-page-set-marking-criteria-a:before {
  content: "\e935";
}
.fi-page-preview-a:before {
  content: "\e95b";
}
.fi-page-module-page-a:before {
  content: "\ea40";
}
.fi-page-section-a:before {
  content: "\eac4";
}
.fi-page-set-marking-criteria-and-evaluation-form-a:before {
  content: "\e92c";
}
.fi-page-set-marker-weighting-a:before {
  content: "\e92d";
}
.fi-page-cluster-template-a:before {
  content: "\eaee";
}
.fi-page-details-a:before {
  content: "\e91e";
}
.fi-page-set-evaluation-form-a:before {
  content: "\e934";
}
.fi-page-staff-resources-a:before {
  content: "\ea0d";
}
.fi-page-word-a:before {
  content: "\e981";
}
.fi-page-excel-a:before {
  content: "\e975";
}
.fi-page-ppt-a:before {
  content: "\e97a";
}
.fi-page-media-gallery-a:before {
  content: "\e976";
}
.fi-page-pdf-a:before {
  content: "\e977";
}
.fi-page-polling-a:before {
  content: "\e979";
}
.fi-page-discussion-forum-a:before {
  content: "\e970";
}
.fi-page-base-on-existing-a:before {
  content: "\e9d0";
}
.fi-page-based-on-excel-a:before {
  content: "\e99e";
}
.fi-page-online-edit-a:before {
  content: "\ead3";
}
.fi-page-acknowledgement-a:before {
  content: "\eace";
}
.fi-page-marked-a:before {
  content: "\e9a8";
}
.fi-page-cancel-sending-update-a:before {
  content: "\eb25";
}
.fi-page-send-rejected-offer-a:before {
  content: "\eb26";
}
.fi-page-requirement-setting-a:before {
  content: "\eadf";
}
.fi-page-view-extra-page-a:before {
  content: "\ea39";
}
.fi-page-add-to-question-bank-a:before {
  content: "\ea8b";
}
.fi-page-assign-question-manually-a:before {
  content: "\eaed";
}
.fi-page-view-question-report-a:before {
  content: "\e997";
}
.fi-page-generate-question-a:before {
  content: "\eafa";
}
.fi-page-view-question-a:before {
  content: "\eb04";
}
.fi-page-send-for-approve-a:before {
  content: "\e929";
}
.fi-page-send-all-for-approve-a:before {
  content: "\eb3d";
}
.fi-page-set-default-a:before {
  content: "\eb07";
}
.fi-page-file-submission-a:before {
  content: "\e922";
}
.fi-page-unmarked-a:before {
  content: "\e9aa";
}
.fi-page-cancel-approve-a:before {
  content: "\e959";
}
.fi-page-download-form1-a:before {
  content: "\eaf6";
}
.fi-page-download-form2-a:before {
  content: "\eaf7";
}
.fi-page-create-makeup-instance-a:before {
  content: "\eab6";
}
.fi-page-question-setting-a:before {
  content: "\eada";
}
.fi-page-view-submission-a:before {
  content: "\e9f2";
}
.fi-page-view-internship-tracking-a:before {
  content: "\e9ea";
}
.fi-page-assessment-a:before {
  content: "\eab3";
}
.fi-page-online-assessment-settings-a:before {
  content: "\eb3a";
}
.fi-page-edit-envelope-cover-page-a:before {
  content: "\eb1d";
}
.fi-page-generate-envelope-cover-page-a:before {
  content: "\eb37";
}
.fi-page-preview-envelope-cover-page-a:before {
  content: "\eb3f";
}
.fi-page-copy-paper-a:before {
  content: "\eb19";
}
.fi-page-approve-all-a:before {
  content: "\eaca";
}
.fi-page-reject-all-a:before {
  content: "\eacb";
}
.fi-page-copy-from-ese-a:before {
  content: "\eb1f";
}
.fi-page-copy-from-assessment-a:before {
  content: "\eb20";
}
.fi-page-blank-a:before {
  content: "\eae0";
}
.fi-page-submit-disposal-request-a:before {
  content: "\eb15";
}
.fi-page-configure-on-site-disposal-time-a:before {
  content: "\eb0c";
}
.fi-page-configure-student-view-questions-and-responses-a:before {
  content: "\eabe";
}
.fi-page-submit-invigilation-report-a:before {
  content: "\eac1";
}
.fi-page-final-report-a:before {
  content: "\e912";
}
.fi-page-export-invigilation-report-a:before {
  content: "\ea6e";
}
.fi-page-generate-invigilation-report-a:before {
  content: "\eac0";
}
.fi-page-view-report-a:before {
  content: "\e9d7";
}
.fi-page-individual-report-a:before {
  content: "\e930";
}
.fi-page-team-report-a:before {
  content: "\e932";
}
.fi-page-mid-term-evaluation-a:before {
  content: "\e913";
}
.fi-page-download-report-a:before {
  content: "\eb09";
}
.fi-page-cancel-verify-a:before {
  content: "\ea4c";
}
.fi-page-allow-student-to-view-response-a:before {
  content: "\eabb";
}
.fi-page-view-a:before {
  content: "\e9f0";
}
.fi-page-allow-student-to-view-question-a:before {
  content: "\eaba";
}
.fi-page-generate-make-up-student-list-a:before {
  content: "\ea5e";
}
.fi-page-generate-all-seat-number-a:before {
  content: "\eb35";
}
.fi-page-view-new-invigilation-instruction-a:before {
  content: "\eac8";
}
.fi-page-configure-invigilation-instruction-a:before {
  content: "\eb1a";
}
.fi-page-submit-on-behalf-of-student-a:before {
  content: "\ea62";
}
.fi-page-personal-profile-a:before {
  content: "\e9a1";
}
.fi-page-approval-process-a:before {
  content: "\eadb";
}
.fi-page-recommend-approval-a:before {
  content: "\eb3e";
}
.fi-page-start-request-a:before {
  content: "\eadc";
}
.fi-page-view-quiz-report-a:before {
  content: "\e998";
}
.fi-page-request-for-attendance-change-a:before {
  content: "\e986";
}
.fi-page-student-survey-a:before {
  content: "\e980";
}
.fi-page-quiz-a:before {
  content: "\e97b";
}
.fi-page-attendance-a:before {
  content: "\e9f6";
}
.fi-page-edit-attendance-sheet-a:before {
  content: "\eb1e";
}
.fi-page-student-attendance-and-grade-a:before {
  content: "\e9e7";
}
.fi-page-force-submit-blank-quiz-a:before {
  content: "\ea54";
}
.fi-page-take-attendance-a:before {
  content: "\e994";
}
.fi-page-view-quiz-a:before {
  content: "\e9cf";
}
.fi-page-instructional-strategy-a:before {
  content: "\eb22";
}
.fi-page-lesson-observation-a:before {
  content: "\ea45";
}
.fi-page-generate-attendance-sheet-a:before {
  content: "\eb39";
}
.fi-page-preview-attendance-sheet-a:before {
  content: "\eb40";
}
.fi-page-add-to-new-dependency-a:before {
  content: "\ea89";
}
.fi-page-add-to-exsiting-dependency-a:before {
  content: "\ea8a";
}
.fi-page-reconciliation-a:before {
  content: "\ea78";
}
.fi-page-custom-group:before {
  content: "\ea79";
}
.fi-page-go-to-dependency-a:before {
  content: "\ea77";
}
.fi-page-generate-versions-a:before {
  content: "\ea75";
}
.fi-page-attachment-a:before {
  content: "\ea72";
}
.fi-page-release-all-a:before {
  content: "\ea5f";
}
.fi-page-retake-a:before {
  content: "\ea60";
}
.fi-page-copy-sub-component-settings-a:before {
  content: "\ea5b";
}
.fi-page-copy-task-settings-a:before {
  content: "\ea5c";
}
.fi-page-switch-role-a:before {
  content: "\ea5a";
}
.fi-page-modify-time-a:before {
  content: "\ea57";
}
.fi-page-use-status-from-student-a:before {
  content: "\ea59";
}
.fi-page-archived-a:before {
  content: "\ea52";
}
.fi-page-annotation-button-select-a:before {
  content: "\ea4a";
}
.fi-page-image-selected-a:before {
  content: "\ea49";
}
.fi-page-equal-weighting-for-assessors-a:before {
  content: "\ea46";
}
.fi-page-resend-email-a:before {
  content: "\ea47";
}
.fi-page-resend-sms-a:before {
  content: "\ea48";
}
.fi-page-failed-and-retry-a:before {
  content: "\ea41";
}
.fi-page-ing-a:before {
  content: "\ea42";
}
.fi-page-annotation-a:before {
  content: "\ea3d";
}
.fi-page-annotation-select-a:before {
  content: "\ea3f";
}
.fi-page-annotation-clear-all-a:before {
  content: "\ea3e";
}
.fi-page-view-scripts-a:before {
  content: "\ea3b";
}
.fi-page-image-a:before {
  content: "\ea3c";
}
.fi-page-comments-a:before {
  content: "\ea34";
}
.fi-page-clockwise-a:before {
  content: "\ea33";
}
.fi-page-counterclockwise-a:before {
  content: "\ea35";
}
.fi-page-tooltip-a:before {
  content: "\ea38";
}
.fi-page-review-a:before {
  content: "\e91a";
}
.fi-page-hide-a:before {
  content: "\ea26";
}
.fi-page-skype-a:before {
  content: "\e97f";
}
.fi-page-skype-chat-a:before {
  content: "\ea0c";
}
.fi-page-skype-bg-a:before {
  content: "\ea29";
}
.fi-page-away-as:before {
  content: "\ea23";
}
.fi-page-busy-as:before {
  content: "\ea24";
}
.fi-page-do-not-disturb-as:before {
  content: "\ea25";
}
.fi-page-offline-as:before {
  content: "\ea27";
}
.fi-page-online-as:before {
  content: "\ea28";
}
.fi-page-unknown-as:before {
  content: "\ea2a";
}
.fi-page-new-as:before {
  content: "\ea1e";
}
.fi-page-like-a:before {
  content: "\ea19";
}
.fi-page-unlike-a:before {
  content: "\ea1b";
}
.fi-page-rating-a:before {
  content: "\ea1a";
}
.fi-page-search-a:before {
  content: "\e9a5";
}
.fi-page-advanced-search-a:before {
  content: "\e9c8";
}
.fi-page-zoom-in-a:before {
  content: "\ea1c";
}
.fi-page-zoom-out-a:before {
  content: "\ea1d";
}
.fi-page-actual-size-a:before {
  content: "\ea90";
}
.fi-page-drag-as:before {
  content: "\ea17";
}
.fi-page-drag-hand-a:before {
  content: "\ea18";
}
.fi-page-qr-code-a:before {
  content: "\ea14";
}
.fi-page-copy-to-module-bank-a:before {
  content: "\ea0a";
}
.fi-page-copy-to-personal-bank-a:before {
  content: "\ea0b";
}
.fi-page-set-ratio-a:before {
  content: "\ea07";
}
.fi-page-auto-add:before {
  content: "\ea06";
}
.fi-page-assign-to-lesson-a:before {
  content: "\ea04";
}
.fi-page-emergency-assignment-a:before {
  content: "\ea05";
}
.fi-page-remove-calendar-from-outlook-a:before {
  content: "\ea01";
}
.fi-page-show-calendar-in-outlook-a:before {
  content: "\ea02";
}
.fi-page-grading-a:before {
  content: "\e9f7";
}
.fi-page-view-grade-a:before {
  content: "\e9fa";
}
.fi-page-edit-grade-a:before {
  content: "\e9e5";
}
.fi-page-request-for-grade-change-a:before {
  content: "\e996";
}
.fi-page-freeze-a:before {
  content: "\e9f4";
}
.fi-page-unfreeze-a:before {
  content: "\e9f5";
}
.fi-page-inherit-as:before {
  content: "\eab5";
}
.fi-page-break-inheritance-a:before {
  content: "\e903";
}
.fi-page-add-field-after-a:before {
  content: "\e9eb";
}
.fi-page-add-field-before-a:before {
  content: "\e9ec";
}
.fi-page-copy-a:before {
  content: "\e9ed";
}
.fi-page-enable-a:before {
  content: "\e9ef";
}
.fi-page-disable-a:before {
  content: "\e9ee";
}
.fi-page-class-schedule-a:before {
  content: "\e9e4";
}
.fi-page-learning-paths-a:before {
  content: "\e9e6";
}
.fi-page-view-task-a:before {
  content: "\e9e8";
}
.fi-page-late-and-partial-a:before {
  content: "\e9d8";
}
.fi-page-partial-a:before {
  content: "\e9da";
}
.fi-page-multiple-choice-a:before {
  content: "\e9d9";
}
.fi-page-single-choice-a:before {
  content: "\e9db";
}
.fi-page-true-false-a:before {
  content: "\e9dc";
}
.fi-page-check-response-a:before {
  content: "\e9de";
}
.fi-page-move-to-section-a:before {
  content: "\e9e0";
}
.fi-page-student-profile-updates-a:before {
  content: "\e9e3";
}
.fi-page-join-in-skype-chat-a:before {
  content: "\e9d4";
}
.fi-page-join-a:before {
  content: "\e9ce";
}
.fi-page-mark-full-a:before {
  content: "\e9ca";
}
.fi-page-mark-zero-a:before {
  content: "\e9cb";
}
.fi-page-close-a:before {
  content: "\e910";
}
.fi-page-open-a:before {
  content: "\e914";
}
.fi-page-stop-a:before {
  content: "\e9ad";
}
.fi-page-indicate-availability-for-on-site-time-a:before {
  content: "\eb10";
}
.fi-page-clock-a:before {
  content: "\e9b0";
}
.fi-page-allocate-standby-a:before {
  content: "\eae1";
}
.fi-page-user-a:before {
  content: "\e9ba";
}
.fi-page-enroll-a:before {
  content: "\e920";
}
.fi-page-use-status-from-lecture-a:before {
  content: "\ea58";
}
.fi-page-oss-comment-a:before {
  content: "\eadd";
}
.fi-page-submit-for-student-a:before {
  content: "\e9f1";
}
.fi-page-assign-a:before {
  content: "\e91d";
}
.fi-page-staff-submission-a:before {
  content: "\e99d";
}
.fi-page-reassign-a:before {
  content: "\e9e2";
}
.fi-page-simulate-a:before {
  content: "\e9a3";
}
.fi-page-licn-a:before {
  content: "\ea03";
}
.fi-page-activate-a:before {
  content: "\e954";
}
.fi-page-deactivate-a:before {
  content: "\e956";
}
.fi-page-allocate-roving-a:before {
  content: "\eae4";
}
.fi-page-special-arrangement-a:before {
  content: "\eb0a";
}
.fi-page-special-needs-student-a:before {
  content: "\eb21";
}
.fi-page-group-a:before {
  content: "\e9d3";
}
.fi-page-assign-team-a:before {
  content: "\eabc";
}
.fi-page-team-setting-a:before {
  content: "\eac2";
}
.fi-page-peer-evaluation-a:before {
  content: "\e978";
}
.fi-page-unlock-a:before {
  content: "\e9b9";
}
.fi-page-remove-permission-a:before {
  content: "\eb0b";
}
.fi-page-configure-a:before {
  content: "\e9a6";
}
.fi-page-confirmed-a:before {
  content: "\e9a7";
}
.fi-page-unconfirmed-a:before {
  content: "\e9a9";
}
.fi-page-pack-documents-a:before {
  content: "\eb12";
}
.fi-page-email-a:before {
  content: "\e99f";
}
.fi-page-sign-out-a:before {
  content: "\e9a2";
}
.fi-page-configure-lesson-a:before {
  content: "\e993";
}
.fi-page-compute-grade-a:before {
  content: "\e995";
}
.fi-page-absent-a:before {
  content: "\e984";
}
.fi-page-present-a:before {
  content: "\e985";
}
.fi-page-double-quote-left-a:before {
  content: "\e98b";
}
.fi-page-double-quote-right-a:before {
  content: "\e98c";
}
.fi-page-home-a:before {
  content: "\e98d";
}
.fi-page-sad-face-a:before {
  content: "\e98e";
}
.fi-page-tag-a:before {
  content: "\e98f";
}
.fi-page-text-placeholder-a:before {
  content: "\e990";
}
.fi-page-circle-a:before {
  content: "\e96f";
}
.fi-page-essay-a:before {
  content: "\e971";
}
.fi-page-self-evaluation-a:before {
  content: "\e972";
}
.fi-page-event-a:before {
  content: "\e974";
}
.fi-page-triangle-a:before {
  content: "\eae8";
}
.fi-page-rectangle-a:before {
  content: "\e97c";
}
.fi-page-maximize-a:before {
  content: "\eaf1";
}
.fi-page-mark-score-a:before {
  content: "\e923";
}
.fi-page-go-to-configure-milestone-a:before {
  content: "\e958";
}
.fi-page-release-a:before {
  content: "\e919";
}
.fi-page-unrelease-a:before {
  content: "\e95d";
}
.fi-page-manage-a:before {
  content: "\e9c9";
}
.fi-page-customize-a:before {
  content: "\e95a";
}
.fi-page-scorm-a:before {
  content: "\e97d";
}
.fi-page-reflection-journals-a:before {
  content: "\e94d";
}
.fi-page-auto-rank-a:before {
  content: "\e94b";
}
.fi-page-view-history-a:before {
  content: "\e94c";
}
.fi-page-meeting-minutes-a:before {
  content: "\e931";
}
.fi-page-share-a:before {
  content: "\e936";
}
.fi-page-duplicate-a:before {
  content: "\e91f";
}
.fi-page-external-link-as:before {
  content: "\e921";
}
.fi-page-save-a:before {
  content: "\e928";
}
.fi-page-set-duration-a:before {
  content: "\e92a";
}
.fi-page-unpublish-a:before {
  content: "\e95c";
}
.fi-page-publish-a:before {
  content: "\e918";
}
.fi-page-expand-all-a:before {
  content: "\e957";
}
.fi-page-collapse-all-a:before {
  content: "\e955";
}
.fi-page-plus-as:before {
  content: "\ea2f";
}
.fi-page-min-as:before {
  content: "\ea2e";
}
.fi-page-ok-a:before {
  content: "\e907";
}
.fi-page-cancel-a:before {
  content: "\e905";
}
.fi-page-triangle-bottom-right-as:before {
  content: "\e9f8";
}
.fi-page-triangle-left-as:before {
  content: "\eab7";
}
.fi-page-triangle-right-as:before {
  content: "\e9f9";
}
.fi-page-arrow-down-as:before {
  content: "\e988";
}
.fi-page-arrow-up-as:before {
  content: "\e989";
}
.fi-page-arrow-right-as:before {
  content: "\e98a";
}
.fi-page-arrow-left-double-as:before {
  content: "\e999";
}
.fi-page-arrow-right-double-as:before {
  content: "\e99a";
}
.fi-page-arrow-paging-left-as:before {
  content: "\ea31";
}
.fi-page-arrow-paging-right-as:before {
  content: "\ea32";
}
.fi-page-arrow-down-a:before {
  content: "\ea1f";
}
.fi-page-arrow-up-a:before {
  content: "\ea22";
}
.fi-page-arrow-left-a:before {
  content: "\ea20";
}
.fi-page-arrow-right-a:before {
  content: "\ea21";
}
.fi-page-submit-a:before {
  content: "\e91b";
}
.fi-page-down-a:before {
  content: "\e99b";
}
.fi-page-up-a:before {
  content: "\e99c";
}
.fi-page-upload-a:before {
  content: "\e91c";
}
.fi-page-download-a:before {
  content: "\e90c";
}
.fi-page-download-default-template:before {
  content: "\eae2";
}
.fi-page-export-a:before {
  content: "\e90d";
}
.fi-page-import-a:before {
  content: "\e90e";
}
.fi-page-import-history-a:before {
  content: "\eb38";
}
.fi-page-change-a:before {
  content: "\e9d1";
}
.fi-page-sync-a:before {
  content: "\e92b";
}
.fi-page-randomize-a:before {
  content: "\e9d5";
}
.fi-page-refresh-a:before {
  content: "\e926";
}
.fi-page-reset-a:before {
  content: "\ea15";
}
.fi-page-resend-a:before {
  content: "\e9d6";
}
.fi-page-restore-a:before {
  content: "\ea11";
}
.fi-page-back-a:before {
  content: "\eafd";
}
.fi-page-drag-a:before {
  content: "\e987";
}
.fi-page-arrow-top:before {
  content: "\eb05";
}
.fi-page-arrow-right-top:before {
  content: "\eae9";
}
.fi-page-notify-a:before {
  content: "\e90f";
}
.fi-page-plus-a:before {
  content: "\e90a";
}
.fi-page-setting-a:before {
  content: "\eb2d";
}
.fi-page-remove-a:before {
  content: "\e90b";
}
.fi-page-discard-a:before {
  content: "\ea37";
}
.fi-page-edit-a:before {
  content: "\e901";
}
.fi-page-return-edit-a:before {
  content: "\eade";
}
.fi-page-submit-to-edit-a:before {
  content: "\eaf2";
}
.fi-page-link-a:before {
  content: "\e902";
}
.fi-page-upper-level-link-a:before {
  content: "\e904";
}
.fi-page-circle-finish-a:before {
  content: "\e9d2";
}
.fi-page-circle-info-a:before {
  content: "\e933";
}
.fi-page-help-a:before {
  content: "\e9a0";
}
.fi-page-delete-a:before {
  content: "\ea71";
}
.fi-page-circle-warning-a:before {
  content: "\ea10";
}
.fi-page-round-finish-a:before {
  content: "\ea68";
}
.fi-page-round-error-a:before {
  content: "\ea69";
}
.fi-page-round-infor-a:before {
  content: "\ea4b";
}
.fi-page-round-question-a:before {
  content: "\ea6a";
}
.fi-page-end-a:before {
  content: "\e9df";
}
.fi-page-pause-a:before {
  content: "\e9e1";
}
.fi-page-remove-from-list-a:before {
  content: "\ea88";
}
.fi-page-warning-a:before {
  content: "\ea6b";
}
.fi-page-placeholder-a:before {
  content: "\ea6c";
}
.fi-page-apply-to-all-b:before {
  content: "\eb24";
}
.fi-page-lockdown-unlock-b:before {
  content: "\eb1b";
}
.fi-page-lockdown-lock-b:before {
  content: "\eb1c";
}
.fi-page-general-information-bs:before {
  content: "\eacd";
}
.fi-page-search-student-b:before {
  content: "\eac5";
}
.fi-page-staff-submission-b:before {
  content: "\e9c6";
}
.fi-page-dot-bs:before {
  content: "\ea6d";
}
.fi-page-circle-bs:before {
  content: "\ea64";
}
.fi-page-triangle-bs:before {
  content: "\ea65";
}
.fi-page-square-bs:before {
  content: "\ea66";
}
.fi-page-rhombus-bs:before {
  content: "\ea67";
}
.fi-page-exam-notification-b:before {
  content: "\ea9d";
}
.fi-page-circle-bg-b:before {
  content: "\ea4d";
}
.fi-page-exam-internet-b:before {
  content: "\ea9e";
}
.fi-page-exam-download-b:before {
  content: "\ea9f";
}
.fi-page-exam-review-b:before {
  content: "\eaa0";
}
.fi-page-exam-test-b:before {
  content: "\eaa1";
}
.fi-page-attendance-b:before {
  content: "\e9cc";
}
.fi-page-cag-b:before {
  content: "\e9cd";
}
.fi-page-student-survey-b:before {
  content: "\e96d";
}
.fi-page-quiz-b:before {
  content: "\e969";
}
.fi-page-lesson-observation-b:before {
  content: "\ea44";
}
.fi-page-seeding-b:before {
  content: "\ea91";
}
.fi-page-release-seeding-response-b:before {
  content: "\eaa4";
}
.fi-page-instructional-strategy-b:before {
  content: "\eb23";
}
.fi-page-single-file-b:before {
  content: "\e96c";
}
.fi-page-marking-process-b:before {
  content: "\ea92";
}
.fi-page-benchmarking-b:before {
  content: "\ea93";
}
.fi-page-staff-resources-b:before {
  content: "\ea0f";
}
.fi-page-approve-b:before {
  content: "\ea12";
}
.fi-page-final-evaluation-b:before {
  content: "\e9c2";
}
.fi-page-assessment-result-b:before {
  content: "\ea94";
}
.fi-page-media-gallery-b:before {
  content: "\e964";
}
.fi-page-evaluation-form-b:before {
  content: "\e961";
}
.fi-page-polling-b:before {
  content: "\e967";
}
.fi-page-discussion-forum-b:before {
  content: "\e95e";
}
.fi-page-pdf-b:before {
  content: "\e965";
}
.fi-page-word-b:before {
  content: "\e96e";
}
.fi-page-excel-b:before {
  content: "\e963";
}
.fi-page-ppt-b:before {
  content: "\e968";
}
.fi-page-file-submission-b:before {
  content: "\e925";
}
.fi-page-add-real-responses-b:before {
  content: "\eaa5";
}
.fi-page-lcms-archvies-b:before {
  content: "\ea4e";
}
.fi-page-lcms-control-panel-b:before {
  content: "\ea4f";
}
.fi-page-lcms-dashboard-b:before {
  content: "\ea50";
}
.fi-page-lcms-summary-report-b:before {
  content: "\ea51";
}
.fi-page-company-management-list-b:before {
  content: "\ea3a";
}
.fi-page-menu-b:before {
  content: "\ea2d";
}
.fi-page-link-b:before {
  content: "\ea13";
}
.fi-page-new-b:before {
  content: "\ea0e";
}
.fi-page-meeting-minutes-b:before {
  content: "\ea08";
}
.fi-page-skype-chat-b:before {
  content: "\ea09";
}
.fi-page-circle-finish-bs:before {
  content: "\e9fb";
}
.fi-page-clock-bs:before {
  content: "\e9fc";
}
.fi-page-clock-lock-bs:before {
  content: "\e9fd";
}
.fi-page-progress-bs:before {
  content: "\e9ff";
}
.fi-page-final-report-b:before {
  content: "\e9c3";
}
.fi-page-assessment-bs:before {
  content: "\ea61";
}
.fi-page-mid-term-evaluation-b:before {
  content: "\e9c5";
}
.fi-page-individual-report-b:before {
  content: "\e9c4";
}
.fi-page-team-report-b:before {
  content: "\e9c7";
}
.fi-page-grading-weighting-b:before {
  content: "\e93d";
}
.fi-page-arrow-circle-down-bs:before {
  content: "\ea73";
}
.fi-page-arrow-circle-up-bs:before {
  content: "\ea74";
}
.fi-page-unfold-b:before {
  content: "\ea00";
}
.fi-page-pack-up-b:before {
  content: "\e9fe";
}
.fi-page-ok-bs:before {
  content: "\e9c1";
}
.fi-page-cancel-bs:before {
  content: "\e9c0";
}
.fi-page-arrow-left-b:before {
  content: "\ea2b";
}
.fi-page-arrow-right-b:before {
  content: "\ea2c";
}
.fi-page-triangle-left-bs:before {
  content: "\eaeb";
}
.fi-page-triangle-right-bs:before {
  content: "\eaec";
}
.fi-page-triangle-up-bs:before {
  content: "\e916";
}
.fi-page-triangle-down-bs:before {
  content: "\e915";
}
.fi-page-exam-details-expander-b:before {
  content: "\eaa2";
}
.fi-page-exam-details-collapsed-b:before {
  content: "\eaa3";
}
.fi-page-class-bs:before {
  content: "\e9af";
}
.fi-page-yammer-b:before {
  content: "\e9a4";
}
.fi-page-image-file-b:before {
  content: "\e982";
}
.fi-page-essay-b:before {
  content: "\e95f";
}
.fi-page-self-evaluation-b:before {
  content: "\e960";
}
.fi-page-event-b:before {
  content: "\e962";
}
.fi-page-peer-evaluation-b:before {
  content: "\e966";
}
.fi-page-reflection-journals-b:before {
  content: "\e96a";
}
.fi-page-scorm-b:before {
  content: "\e96b";
}
.fi-page-my-request-bs:before {
  content: "\e983";
}
.fi-page-error-b:before {
  content: "\e94e";
}
.fi-page-info-b:before {
  content: "\e94f";
}
.fi-page-exam-help-b:before {
  content: "\ea9c";
}
.fi-page-progress-b:before {
  content: "\e950";
}
.fi-page-thumbnail-video-file-b:before {
  content: "\e951";
}
.fi-page-thumbnail-voice-file-b:before {
  content: "\e952";
}
.fi-page-vrs-file-b:before {
  content: "\e953";
}
.fi-page-video-file-b:before {
  content: "\e92e";
}
.fi-page-voice-file-b:before {
  content: "\e92f";
}
.fi-page-announcement-bs:before {
  content: "\e906";
}
.fi-page-calendar-bs:before {
  content: "\e908";
}
.fi-page-home-bs:before {
  content: "\e909";
}
.fi-page-search-bs:before {
  content: "\e937";
}
.fi-page-task-bs:before {
  content: "\e943";
}
.fi-page-discussion-forum-radius-b:before {
  content: "\e944";
}
.fi-page-media-gallery-radius-b:before {
  content: "\e945";
}
.fi-page-page-blog-radius-b:before {
  content: "\e946";
}
.fi-page-polling-radius-b:before {
  content: "\e9b3";
}
.fi-page-sharedrive-radius-b:before {
  content: "\e947";
}
.fi-page-skype-chat-radius-b:before {
  content: "\e948";
}
.fi-page-wiki-radius-b:before {
  content: "\e949";
}
.fi-page-yammer-radius-b:before {
  content: "\e94a";
}
.fi-page-announcement-b:before {
  content: "\e9b5";
}
.fi-page-view-archived-assessment-b:before {
  content: "\eaea";
}
.fi-page-freeze-unfreeze-assessment-b:before {
  content: "\eae5";
}
.fi-page-configure-global-freeze-date-b:before {
  content: "\eae6";
}
.fi-page-pet-make-up-exam-b:before {
  content: "\ea5d";
}
.fi-page-digital-tools-radius-b:before {
  content: "\e942";
}
.fi-page-score-grade-mapping-b:before {
  content: "\e941";
}
.fi-page-grade-score-mapping-b:before {
  content: "\e9b1";
}
.fi-page-learning-path-approval-users-b:before {
  content: "\e9e9";
}
.fi-page-polling-bank-b:before {
  content: "\e9be";
}
.fi-page-question-bank-b:before {
  content: "\ea7a";
}
.fi-page-question-topic-management-b:before {
  content: "\e9f3";
}
.fi-page-submission-category-b:before {
  content: "\e9b4";
}
.fi-page-form-bank-b:before {
  content: "\e9b8";
}
.fi-page-module-configuration-b:before {
  content: "\e93f";
}
.fi-page-quize-bank-b:before {
  content: "\e9bf";
}
.fi-page-all-assessments-b:before {
  content: "\eb2e";
}
.fi-page-assessment-schedule-b:before {
  content: "\eb2f";
}
.fi-page-my-invigilation-b:before {
  content: "\eb30";
}
.fi-page-module-cut-off-table-b:before {
  content: "\e940";
}
.fi-page-grade-scheme-b:before {
  content: "\e93c";
}
.fi-page-graded-b:before {
  content: "\ea7c";
}
.fi-page-paper-b:before {
  content: "\ea7d";
}
.fi-page-online-and-paper-b:before {
  content: "\ea7e";
}
.fi-page-assessment-paper-repository-b:before {
  content: "\eaf3";
}
.fi-page-assessment-configuration-b:before {
  content: "\e938";
}
.fi-page-marking-settings-b:before {
  content: "\ea85";
}
.fi-page-assessment-taking-settings-b:before {
  content: "\ea86";
}
.fi-page-authoring-b:before {
  content: "\eb2b";
}
.fi-page-authoring-settings-b:before {
  content: "\eaac";
}
.fi-page-sa-store-b:before {
  content: "\ea53";
}
.fi-page-module-store-b:before {
  content: "\ea16";
}
.fi-page-pedagogy-b:before {
  content: "\e9b2";
}
.fi-page-approval-process-b:before {
  content: "\ea7f";
}
.fi-page-admin-reports-b:before {
  content: "\ea80";
}
.fi-page-audit-log-report-b:before {
  content: "\eaf4";
}
.fi-page-global-not-recorded-b:before {
  content: "\e93b";
}
.fi-page-attendance-status-b:before {
  content: "\e939";
}
.fi-page-company-application-management-b:before {
  content: "\ea55";
}
.fi-page-company-application-setup-b:before {
  content: "\ea56";
}
.fi-page-venue-settings-b:before {
  content: "\e9b6";
}
.fi-page-archival-requests-b:before {
  content: "\e9b7";
}
.fi-page-freeze-archival-schedule-setup-b:before {
  content: "\e9bb";
}
.fi-page-freeze-unfreeze-module-b:before {
  content: "\e9bc";
}
.fi-page-global-freeze-archival-schedule-b:before {
  content: "\e9bd";
}
.fi-page-lesson-configuration-b:before {
  content: "\e93e";
}
.fi-page-debarment-rule-b:before {
  content: "\e93a";
}
.fi-page-class-configuration-b:before {
  content: "\e9ab";
}
.fi-page-components-and-points-b:before {
  content: "\e9ac";
}
.fi-page-software_white-List_b:before {
  content: "\ea8c";
}
.fi-page-practical-b:before {
  content: "\ea7b";
}
.fi-page-global-settings-b:before {
  content: "\ea81";
}
.fi-page-global-marking-setting-b:before {
  content: "\eaf5";
}
.fi-page-email-templates-b:before {
  content: "\ea82";
}
.fi-page-workflow-settings-b:before {
  content: "\ea83";
}
.fi-page-special_needs_students_b:before {
  content: "\ea8d";
}
.fi-page-role-management-b:before {
  content: "\ea84";
}
.fi-page-pfp-result-slip-printout-b:before {
  content: "\e9dd";
}
.fi-page-printing-settings-b:before {
  content: "\ea87";
}
.fi-page-parting-tracking-b:before {
  content: "\eb2c";
}
